<div class="loader"
     *ngIf="loading">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<div class="main-content block"
     *ngIf="!loading"
     [@transitionAnimation]="">
  <h1 class="store-type block"> {{ query }} </h1>

  <div class="block">
    <ng-container *ngFor="let item of items">
      <app-item [item]="item"></app-item>
    </ng-container>

    <div class="disclaimer">
      <span>All item images provided by
        <a href="https://www.fnbr.co">fnbr.co</a>
      </span>
    </div>
  </div>
</div>
