<div class="loader"
     *ngIf="loading">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<div class="main-content"
     *ngIf="!loading && store">
  <h1 class="store-type"> Featured </h1>
  <ng-container *ngFor="let item of store.featured">
    <div class="card-container">
      <div class="container">
        <img [src]="item.images.gallery">
      </div>
    </div>
  </ng-container>
  <h1 class="store-type"> Daily </h1>
  <ng-container *ngFor="let item of store.daily">
    <div class="card-container">
      <div class="container">
        <img [src]="item.images.gallery">
      </div>
    </div>
  </ng-container>
</div>
