<div class="card-container">
  <div class="container">
    <img [src]="item.images.icon"
         (load)="loaded = true"
         [hidden]="true">
    <img [src]="item.images.icon"
         *ngIf="loaded"
         [ngClass]="item.rarity"
         class="item-img">
    <img src="../../assets/img/default.png"
         *ngIf="!loaded"
         [ngClass]="item.rarity"
         class="item-img">
    <div class="favorite-overlay block">
      <mat-icon class="check-icon"
                [@changeState]="notify"
                (click)="changeState()">add_alert</mat-icon>
    </div>
    <div class="details-overlay block"
         [ngClass]="item.rarity + '-border'">
      <div class="details block">
        <div class="name">{{item.name}}</div>
        <div *ngIf="item.price"
             class="price">
          <div class="amount">{{item.price}}</div>
          <img *ngIf="item.priceIconLink"
               class="price-img"
               [src]="item.priceIconLink">
        </div>
      </div>
    </div>
  </div>
</div>
