<mat-sidenav-container>
  <mat-sidenav class="side-nav"
               #snav>
    <img class="banner"
         src="../assets/img/fortnite.jpg"
         width="100%">
    <mat-nav-list (click)="snav.close()">
      <a mat-list-item
         routerLink="/news">
        <div class="side-nav-item">
          <mat-icon>featured_play_list</mat-icon>
          <span>News</span>
        </div>
      </a>
      <a mat-list-item
         routerLink="/store">
        <div class="side-nav-item">
          <mat-icon>store_mall_directory</mat-icon>
          <span>Store</span>
        </div>
      </a>
      <a mat-list-item
         routerLink="/challenges">
        <div class="side-nav-item">
          <mat-icon svgIcon="trophy"></mat-icon>
          <span>Challenges</span>
        </div>
      </a>
      <a mat-list-item
         routerLink="/search">
        <div class="side-nav-item">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </div>
      </a>
    </mat-nav-list>
    <img class="bottom-img"
         src="../assets/img/drift.png"
         width="100%">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="'primary'">
      <button mat-icon-button
              (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fortnite Viewer</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
// featured_play_list
// attach_money
// local_grocery_store
// local_offer
// store_mall_directory -->
