.mat-drawer-container {
  background-color: unset !important;
}

.mat-drawer.mat-sidenav {
  width: 75vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;

  color: #000;
  font-family: 'Nunito Sans';
  font-size: 24px;
  // background-image: url('../assets/img/purple.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // border-bottom: 1px solid #80808036;
}

.side-nav-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 30px;
}

.side-nav {
  background-image: url('../assets/img/tangerine.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.bottom-img {
  width: auto; /* to keep proportions */
  height: auto; /* to keep proportions */
  max-width: 100%; /* not to stand out from div */
  max-height: 45%; /* not to stand out from div */
  margin: auto auto 0; /* position to bottom and center */
  object-fit: cover;
}

.banner {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 20%;
}
