<mat-sidenav-container>
  <mat-sidenav #snav>
    <mat-nav-list (click)="snav.close()">
      <a mat-list-item
         routerLink="/news">
        News
      </a>
      <a mat-list-item
         routerLink="/store">
        Store
      </a>
      <a mat-list-item
         routerLink="/challenges">
        Challenges
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="'primary'">
      <button mat-icon-button
              (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fortnite Viewer</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
