.card-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-family: 'Luckiest Guy', cursive;
  color: blue;
  .news-container {
    border: 5px solid white;
    position: relative;
    // max-width: 95vw;

    .entry-container {
      border-top: 5px solid white;
      background: white;
      padding: 1rem;
      .news-title {
        text-align: center;

        font-size: 35px;
        letter-spacing: 2px;
        color: #050947;
      }

      .news-body {
        font-size: 18px;
        letter-spacing: 2px;

        color: #5d9cc4;
      }
    }

    .news-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
