<div class="loader"
     *ngIf="loading">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<div class="main-content"
     *ngIf="!loading && news">
  <ng-container *ngFor="let entry of news">
    <div class="card-container">
      <div class="news-container">
        <img class="news-img"
             [src]="entry.image">
        <div class="entry-container">
          <div class="news-title">{{ entry.title }}</div>
          <div class="news-body">{{ entry.body }}</div>
        </div>
      </div>
    </div>

  </ng-container>
</div>
