<div class="loader"
     *ngIf="loading">
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<div class="main-content block"
     *ngIf="!loading"
     [@transitionAnimation]="">

  <ng-container *ngFor="let entry of news">
    <div [@transitionAnimation]=""
         class="card-container block">
      <div class="news-container block">
        <img alt="news entry"
             class="news-img"
             [src]="entry.image">
        <div class="entry-container ">
          <div class="news-title block">{{ entry.title }}</div>
          <div class="news-body block">{{ entry.body }}</div>
        </div>
      </div>
    </div>

  </ng-container>
</div>
