/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
}

.main-content {
  padding: 30px;
  padding-top: 0;
  margin-top: 66px;
  @media (max-width: 599px) {
    margin-top: 57px;
  }
  width: 100%;
  overflow: auto;
  position: fixed;
  min-height: 95vh;
  max-height: 100%;
  // background-image: url(https://cdn.dribbble.com/users/101444/screenshots/2300056/attachments/435214/97.png);
  background-image: url('./assets/img/tangerine.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 15px 15px 0;
}

.loader {
  height: 90vh;
  mat-progress-spinner {
    top: 40%;
    margin: auto;
  }
}

.common {
  background: radial-gradient(#bebebe, #646464);
  border: 2px solid #b1b1b1;
}

.uncommon {
  background: radial-gradient(#60aa3a, #175117);
  border: 2px solid #87e339;
}

.rare {
  background: radial-gradient(#49acf2, #143977);
  border: 2px solid #37d1ff;
}

.epic {
  background: radial-gradient(#b15be2, #4b2483);
  border: 2px solid #e95eff;
}

.legendary {
  background: radial-gradient(#d37841, #78371d);
  border: 2px solid #e98d4b;
}

.common-border {
  border: 2px solid #b1b1b1;
}

.uncommon-border {
  border: 2px solid #87e339;
}

.rare-border {
  border: 2px solid #37d1ff;
}

.epic-border {
  border: 2px solid #e95eff;
}

.legendary-border {
  border: 2px solid #e98d4b;
}

.disclaimer {
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}
