.content {
  background-attachment: fixed;
  background-image: url('../../assets/img/purple.jpg');
  border-radius: 15px 15px 0;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 66px;
  @media (max-width: 599px) {
    margin-top: 57px;
  }

  max-height: 100%;
  min-height: 95vh;
  padding-bottom: 3rem;
  position: fixed;
  overflow: auto;
  width: 100%;

  .header {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;

    .card-container {
      display: flex;
      flex: 1 1 50%;
      justify-content: center;
      margin-bottom: 2rem;
      font-family: 'Nunito Sans', sans-serif;
      color: white;

      .container {
        position: relative;
        cursor: pointer;

        .stream-img {
          display: block;
          width: 100%;
          max-width: 700px;
          @media (max-width: 716px) {
            max-width: 90vw;
          }
          height: auto;
        }

        .details-overlay {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5); /* Black see-through */
          width: 100%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          .details {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .name {
              font-weight: bold;
              font-size: 18px;
              text-align: center;
              padding-bottom: 0.5rem;
            }

            .status-container {
              display: flex;
              justify-content: center;
              align-items: center;

              .stream-status {
                margin-bottom: 2.5px;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}
